/* Fonts */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-ext_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy Extra Bold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Variables */
:root {
  --basic-black: #000;
  --basic-dark: #363636;
  --basic-white: #fff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-disabled-grey: #a6a6a6;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-green: #91c92f;
  --pagination-grey: #ebebeb;
  --hover-pagination-grey: #d9d9d9;
  --error-pink: #f6dada;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
}

/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.heading {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 47px;
  line-height: 59px;
}

/* UI */
.button {
  display: inline-block;
  vertical-align: middle;
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 9px 25px;
  position: relative;
  min-width: 160px;
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: var(--special-yellow-dark);
  height: 8px;
  width: 100%;
  z-index: -1;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
}

.button:active {
  color: var(--basic-black-opacity);
}

/* Filter */
.form-filter legend {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.form-filter label {
  font-size: 14px;
  line-height: 19px;
}

.form-filter input[attr="disabled"] {
  color: var(--basic-disabled-grey);
}

/* Header */
.main-header {
  background: var(--special-yellow);
}

.main-header .logo-link:hover,
.main-header .logo-link:focus {
  opacity: 0.6;
}

.main-header .logo-link:active {
  opacity: 0.3;
}

.main-navigation {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover,
.main-navigation a:focus {
  opacity: 0.6;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation-submenu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-navigation-submenu a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
}

.navbar {
  line-height: 20px;
}

.navbar a {
  color: var(--basic-black);
}

.navbar a:hover,
.navbar a:focus {
  opacity: 0.6;
}

.navbar a:active {
  opacity: 0.3;
}

.navbar-search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.navbar-search button {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
  background: none;
  padding: 13px 15px;
  cursor: pointer;
}

.navbar-search button:hover,
.navbar-search button:focus {
  color: var(--basic-white);
  background: var(--basic-black);
}

.navbar-search button:active {
  color: var(--basic-white-opacity);
  background: var(--basic-black);
}

/* Footer */
.main-footer {
  background: var(--basic-dark);
  color: var(--basic-white);
  font-size: 15px;
  line-height: 20px;
}

.main-footer a {
  color: inherit;
}

.main-footer address {
  font-style: inherit;
}

.main-footer .logo-link:hover,
.main-footer .logo-link:focus {
  opacity: 0.6;
}

.main-footer .logo-link:active {
  opacity: 0.3;
}

.footer-menu li {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-menu a {
  color: inherit;
  opacity: 1;
}

.footer-menu a:hover,
.footer-menu a:focus {
  opacity: 0.6;
}

.footer-menu a:active {
  opacity: 0.3;
}

.navbar-footer {
  line-height: 20px;
}

.navbar-footer a {
  color: var(--basic-white);
  opacity: 0.7;
}

.navbar-footer a:hover,
.navbar-footer a:focus {
  opacity: 1;
}

.navbar-footer a:active {
  opacity: 0.3;
}

.copyright a:hover,
.copyright a:focus {
  opacity: 0.6;
}

.copyright a:active {
  opacity: 0.3;
}

.socials a {
  opacity: 0.3;
}

.socials a:hover,
.socials a:focus {
  opacity: 0.6;
}

.socials a:active {
  opacity: 0.1;
}

/* Index page */
.main-section ul {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

/* Catalog page */
.inner-page h1 {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 59px;
}

.catalog-item h2 {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-item-price {
  font-family: "Gilroy Light", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}

/* Breadcrumbs */
.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  color: inherit;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs a.current:hover,
.breadcrumbs a.current:focus {
  opacity: 0.3;
}

.breadcrumbs a.current:active {
  opacity: 0.3;
}

/* Sort */
.sort-block h2 {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: var(--basick-black);
  line-height: 19px;
  opacity: 0.3;
}

.sort a:hover,
.sort a:focus {
  opacity: 0.6;
}

.sort a.active,
.sort a:active {
  opacity: 1;
}

/* Pagination */
.pagination {
  background: var(--pagination-grey);
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination a {
  display: block;
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--basick-black);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.pagination a:hover,
.pagination a:focus {
  opacity: 0.6;
}

.pagination a.active,
.pagination a:active {
  opacity: 1;
}

.pagination .next a,
.pagination .prev a {
  opacity: 1;
}

.pagination .next:hover,
.pagination .next:focus,
.pagination .prev:hover,
.pagination .prev:focus {
  background: var(--hover-pagination-grey);
}

.pagination .next:active a,
.pagination .prev:active a {
  opacity: 0.3;
}

/* Slider */
.slider-caption {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 58px;
}

.slider-desc {
  line-height: 20px;
}

.slider-table tbody {
  font-family: "Gilroy Light", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.1em;
}

.slider-table tfoot {
  font-family: "Gilroy Light", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.slider-order {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  background: var(--special-yellow);
  text-transform: uppercase;
}

/* Category grid */
.category-grid {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-grid a {
  color: var(--basic-black);
}

.category-grid li {
  width: 160px;
}

.category-grid li:hover .category-grid-img,
.category-grid li:focus .category-grid-img {
  background: var(--special-yellow-dark);
}

.category-grid li:active .category-grid-img {
  background: var(--special-yellow-dark);
}

.category-grid li:active .category-grid-img img {
  opacity: 0.3;
}

.category-grid li:active .category-grid-title {
  opacity: 0.3;
}

.category-grid-title {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.category-grid-img {
  position: relative;
  height: 160px;
  background: var(--special-yellow);
}

.category-grid-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Slider services */
.slider-services {
  background: var(--basic-grey-light);
}

.slider-services-nav .button:active {
  background: var(--basic-black);
  color: var(--special-yellow);
}

.slider-services-nav .button:active::after {
  background: none;
}

.slider-services-nav .active {
  background: var(--basic-black);
  color: var(--special-yellow);
}

.slider-services-nav .active::after {
  background: none;
}

.slider-services-content h3 {
  font-family: "Gilroy Extra Bold", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.slider-services-content p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.logo-block {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo-block li {
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-block li:nth-child(1) {
  background-image: url("../img/logo-greyscale-1.png");
}

.logo-block li:nth-child(1):hover {
  background-image: url("../img/logo-1.png");
}

.logo-block li:nth-child(2) {
  background-image: url("../img/logo-greyscale-2.png");
}

.logo-block li:nth-child(2):hover {
  background-image: url("../img/logo-2.png");
}

.logo-block li:nth-child(3) {
  background-image: url("../img/logo-greyscale-3.png");
}

.logo-block li:nth-child(3):hover {
  background-image: url("../img/logo-3.png");
}

.logo-block li:nth-child(4) {
  background-image: url("../img/logo-greyscale-4.png");
}

.logo-block li:nth-child(4):hover {
  background-image: url("../img/logo-4.png");
}

.contact-form-popup {
  display: none;
}

.map-popup {
  display: none;
}
